@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
/*
///
///SLIDER
///
*/
/*
///
///Mediaquery
///
*/
/*
///
///HAMBURGER MENU
///
*/
.hider {
  display: none !important;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.dropdown-content {
  width: 100%;
  height: 385px;
  background-color: #262a32;
  color: #fff;
  display: none;
  position: absolute;
  top: 78px;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: default;
}
.dropdown-content .arrow-down {
  display: none;
}
@media (min-width: 1px) and (max-width: 768px) {
  .dropdown-content {
    box-shadow: none;
    top: 0;
    left: 0;
    display: block;
    position: relative;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 70%;
    display: none;
  }
  .dropdown-content .dropdown {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .dropdown-content .container-dropdown {
    display: block;
    position: relative;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin: 0;
    gap: 1rem;
    width: 90%;
  }
  .dropdown-content .product-categories-container {
    width: 100%;
  }
  .dropdown-content .sales {
    max-width: none;
    width: 100%;
  }
  .dropdown-content h2 {
    width: 100%;
    padding: 1em;
    border-bottom: solid 3px #84bc22;
    cursor: pointer;
  }
  .dropdown-content .arrow-down {
    display: block;
  }
  .dropdown-content .dropdown-photo {
    display: none;
  }
  .dropdown-content .dropdown-products-title {
    width: 100%;
  }
  .dropdown-content ul {
    display: none;
    margin-left: 20px;
  }
}

.container-dropdown {
  height: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 55px auto;
  align-items: center;
}

.product-categories-container {
  width: 45%;
}

.products, .sales {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-products-title {
  justify-self: center;
  font-weight: 800;
}

.products-categories-inner {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.dropdown-title {
  font-weight: 900;
}

.product-cpl {
  line-height: 1.9em;
  color: #fff;
  font-size: 16px;
  transition: color 0.2 ease-in-out;
}
.product-cpl:hover {
  color: #84bc22;
}

.sales {
  max-width: 25%;
}

.sales-list-inner {
  padding-top: 20px;
}

.photo-dropdown {
  width: 100%;
  max-width: 272px;
  height: 100%;
  max-height: 276px;
  align-self: center;
}

.dropdown-photo {
  display: flex;
  justify-content: center;
}

body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  width: 100%;
}
@media (min-width: 1px) and (max-width: 768px) {
  .header .menu {
    position: fixed;
    display: block;
  }
  .header .inner-nav-container {
    padding-top: 5px;
    height: 50px;
    margin-top: 0;
    position: fixed;
    z-index: 100;
    background-color: #fff;
  }
  .header .logo-osf {
    margin: 0 auto;
  }
  .header .logo-name {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .header .menu .menu {
    position: fixed;
    display: block;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  max-height: 5000px;
}

.inner-nav-container {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  max-height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.logo-osf {
  margin-right: 10px;
  display: flex;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .logo-osf {
    margin: 0 auto;
  }
}

.logo-name {
  text-align: center;
  margin: auto;
  margin-left: 10px;
}
.logo-name-1 {
  color: #011847;
  font-size: 31.65px;
  font-weight: 900;
}
.logo-name-2 {
  color: #84bc22;
  font-size: 18px;
}

.nav {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  max-height: 60px;
  max-width: 1170px;
}
@media (min-width: 1px) and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 55px;
    left: 0;
    max-width: 300px;
    min-width: 100%;
    max-height: 600px;
    background-color: #262a32;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow: auto;
    display: none;
  }
  .nav .nav-link {
    display: flex;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .nav .nav-mobile-photo {
    display: flex;
    height: 250px;
  }
  .nav .nav-mobile-photo > img {
    margin: 0px auto;
  }
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  gap: 1rem;
  height: 60px;
}
@media (min-width: 1px) and (max-width: 768px) {
  .nav-inner {
    margin-top: 25px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    justify-content: flex-start;
    background-color: #262a32;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    z-index: 9999999;
    overflow-block: inherit;
  }
  .nav-inner .nav-link {
    align-self: flex-start;
    text-align: left;
    display: block;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-left: 16px;
    width: 90%;
    padding: 12px 0;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
  }
  .nav-inner .nav-link:first-child {
    padding: 0;
  }
  .nav-inner .nav-link:first-child:hover {
    border: none;
  }
  .nav-inner .nav-link h1 {
    width: 100%;
    height: 100%;
    padding: 12px 0;
  }
  .nav-inner .arrow-down {
    float: right;
  }
  .nav-inner .btn-nav {
    display: none;
  }
  .nav-inner .language-btn,
.nav-inner .currency-btn {
    display: none;
    position: relative;
  }
  .nav-inner ul {
    display: none;
  }
  .nav-inner h2 {
    display: block;
    z-index: 99999999;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .nav-inner {
    margin-top: 25px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    justify-content: flex-start;
    background-color: #262a32;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    z-index: 9999999;
    overflow-block: inherit;
  }
  .nav-inner .nav-link {
    align-self: flex-start;
    text-align: left;
    display: block;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-left: 16px;
    width: 90%;
    padding: 12px 0;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
  }
  .nav-inner .nav-link:first-child {
    padding: 0;
  }
  .nav-inner .nav-link:first-child:hover {
    border: none;
  }
  .nav-inner .nav-link h1 {
    width: 100%;
    height: 100%;
    padding: 12px 0;
  }
  .nav-inner .arrow-down {
    float: right;
  }
  .nav-inner .btn-nav {
    display: none;
  }
  .nav-inner .language-btn,
.nav-inner .currency-btn {
    display: none;
    position: relative;
  }
  .nav-inner ul {
    display: none;
  }
  .nav-inner h2 {
    display: block;
    z-index: 99999999;
  }
}

.nav-mobile-photo {
  display: none;
}

.nav-link {
  height: 100%;
  color: #45413e;
  transition: all 0.1s linear;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.nav-link:hover {
  background-color: #262a32;
  color: #fff;
  cursor: pointer;
  border-bottom: solid 3px #84bc22;
}
.nav-link h1 {
  font-weight: 400;
  font-size: 16px;
}

.noborder {
  border: none;
}
.noborder:hover {
  border: none;
}

.arrow-down {
  padding-left: 10px;
}

.btn-nav {
  margin: 0px 15px;
}
.btn-nav:last-child {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 15px;
  padding-left: 0px;
}
.btn-nav:hover {
  cursor: pointer;
}

.counter {
  display: flex;
  margin: auto 0px;
  position: relative;
}

.products-counter,
.favorite-counter {
  border: solid 2px #84bc22;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -10px;
  background-color: #fff;
}

.counter-position {
  margin: auto;
  color: #84bc22;
}

.icn-nav {
  transition: all 0.2s ease-in-out;
}
.icn-nav:hover {
  filter: brightness(0) saturate(100%);
  filter: invert(58%) sepia(97%) saturate(354%) hue-rotate(40deg) brightness(94%) contrast(92%);
}

.nav-contact {
  margin-right: 32px;
}

.nav-line {
  width: 2px;
  color: #f3f0ea;
  margin: 0px;
  padding: 0px;
}

.mobile-menu {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 100px;
  left: 0px;
  transition-duration: 0.5s;
}
.mobile-menu .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 8px;
  width: 30px;
  top: 30px;
  background-color: #45413e;
  left: 0px;
}
.mobile-menu .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: #45413e;
  content: "";
  top: -20px;
}
.mobile-menu .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: #45413e;
  content: "";
  top: 20px;
}
.mobile-menu .icon-left:hover {
  cursor: pointer;
}
.mobile-menu .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 8px;
  width: 30px;
  top: 30px;
  background-color: #45413e;
  left: 30px;
}
.mobile-menu .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: #45413e;
  content: "";
  top: -20px;
}
.mobile-menu .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 8px;
  background-color: #45413e;
  content: "";
  top: 20px;
}
.mobile-menu.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}
.mobile-menu.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.mobile-menu.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.mobile-menu.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}
.mobile-menu.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.mobile-menu.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
.mobile-menu:hover {
  cursor: pointer;
}

.menu {
  display: none;
  z-index: 100;
  transform: scale(0.5);
  position: absolute;
  top: -5px;
}

.active {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dropdown {
  font-size: 14px;
  font-weight: 800;
}

.currency-btn,
.language-btn {
  position: relative;
}

.currency-dropdown,
.select-language-dropdown {
  position: absolute;
  display: none;
  top: 63px;
  width: 100%;
  left: 0;
  height: 6rem;
  z-index: 2;
  cursor: default;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.currency-dropdown-inner,
.select-language-dropdown-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #262a32;
  align-items: center;
  color: #fff;
}

.select-currency-1,
.select-language-1 {
  padding: 0.1rem;
}
.select-currency-1:hover,
.select-language-1:hover {
  color: #84bc22;
  cursor: pointer;
}

.active-drop {
  display: block;
}

.featured-products {
  width: 100%;
  background-color: #262a32;
  padding-top: 45px;
}
@media (min-width: 1px) and (max-width: 768px) {
  .featured-products {
    display: none;
  }
}

.container-3 {
  max-width: 1170px;
  margin: 0px auto;
  height: 555px;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .container-3 {
    width: 75%;
  }
}

.title-and-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title-and-nav h1 {
  font-size: 36px;
  font-weight: 800;
  color: #fff;
}
.title-and-nav p {
  font-size: 18px;
  color: #fff;
  margin: 25px 0px;
}

.featured-products-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.featured-products-nav hr {
  height: 3px;
  width: 100%;
  max-width: 236px;
  border: none;
  background-color: #fff;
  margin: 0px 8px;
  align-self: center;
}
.featured-products-nav button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 29px;
  height: 29px;
}
.featured-products-nav button:hover {
  background-color: white;
}
.featured-products-nav button:hover .arrow {
  color: #262a32;
}

.arrow {
  color: white;
  opacity: 1;
  margin: auto;
}

.featured-products-card-container {
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 294px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 769px) and (max-width: 1280px) {
  .featured-products-card-container {
    gap: 1.5rem;
    justify-content: space-around;
  }
}

.card-3 {
  width: 270px;
  height: 296px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
}

.card-body-3 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 109px;
}

.card-img-top-3 {
  max-height: 190px;
  max-width: 270px;
}

.card-text-3 {
  color: #45413e !important;
  margin: 0px !important;
}

.card-title-3 {
  color: #84bc22;
  font-size: 14px;
  font-weight: 800;
}

.fp-card-slider {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  transition: transform 0.4s ease-in-out;
}

.banner-container {
  width: 100%;
  height: 100%;
  max-height: 445px;
  background-color: #262a32;
  color: #262a32;
}

.banner {
  min-height: 455px;
  max-width: 1280px;
  display: flex;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 1px) and (max-width: 768px) {
  .banner {
    width: 100%;
    min-height: 185px;
    max-height: none;
  }
  .banner .banner-text {
    width: 90%;
    align-self: center;
    margin: 0 auto;
  }
  .banner .banner-text > img {
    width: 100%;
    height: 100%;
    src: url(../../build/images/banner/banner-small.png);
  }
  .banner .banner-text > h1 {
    font-size: 30px;
  }
}

.banner-text {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  align-self: center;
}
.banner-text h1 {
  font-size: 49px;
  font-weight: 800;
  align-self: center;
}
.banner-text p {
  align-self: center;
  max-width: 370px;
  font-size: 14px;
}

.banner > img {
  background-repeat: no-repeat;
  background-size: cover;
}

.services-banner {
  width: 100%;
  background-color: #45413e;
}

.container-4 {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1px) and (max-width: 768px) {
  .container-4 {
    flex-direction: column;
    width: 90%;
    gap: 0px;
  }
  .container-4 .text-services {
    margin: 0px auto;
    max-width: 60%;
    align-self: center;
  }
  .container-4 .service-icn {
    align-self: center;
    margin: 0 auto;
    max-width: 30%;
  }
  .container-4 .inverted .service-icn {
    order: 2;
  }
  .container-4 .service-part {
    justify-content: space-between;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .container-4 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 90%;
  }
  .container-4 .service-part {
    max-width: 335px;
  }
}

.service-part {
  width: 100%;
  min-width: 292px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.service-icn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text-services {
  margin-left: 40px;
}
.text-services h1 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.text-services p {
  max-width: 206px;
  margin-top: 22px;
  color: #868380;
  font-size: 14px;
  line-height: 1.2em;
}

.popular-items-container {
  width: 100%;
  background-color: #262a32;
  padding-top: 50px;
}
@media (min-width: 1px) and (max-width: 768px) {
  .popular-items-container .container-2 {
    width: 90%;
    min-height: 510px;
  }
  .popular-items-container .card-container {
    position: relative;
    height: 365px;
    width: 270px;
    align-self: center;
  }
  .popular-items-container .card, .popular-items-container .card-last {
    position: absolute;
  }
  .popular-items-container .btn-load-more {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .popular-items-container .card-container {
    width: 90%;
    justify-content: space-evenly;
  }
}

.container-2 {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  max-height: 5000px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.popular-items-container-inner {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.popular-items-title {
  font-size: 24px;
  font-weight: 800;
  min-width: 160px;
  color: #fff;
  text-align: center;
}

.line {
  width: 100%;
  max-width: 460px;
  height: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.card-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card, .card-last {
  height: 365px;
  width: 100%;
  max-width: 270px;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.card:hover .card-overlay, .card-last:hover .card-overlay {
  z-index: 2;
}
.card-img-top {
  max-width: 270px;
  height: 265px;
}

.card-body {
  background-color: #fff;
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.card-text {
  text-align: center;
  font-size: 16px;
  color: #45413e;
}

.card-title {
  text-align: center;
  font-size: 14px;
  color: #011847;
}

.butttns {
  max-height: 265px;
}

.buy-now-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 40px;
  border: solid 2px rgba(127, 127, 127, 0.3);
  border-radius: 35px;
  width: 75%;
  overflow: hidden;
}

.line-between {
  background-color: rgba(127, 127, 127, 0.3);
  height: 120%;
  width: 2px;
  align-self: center;
}

.btn-add-to-card {
  border: none;
  cursor: pointer;
  padding: 14px 15px;
  padding-right: 15px;
}
.btn-add-to-card:hover {
  color: #84bc22;
}

.card-2-price {
  font-size: 14px;
  align-self: center;
  padding: 12px 15px;
  padding-left: 41px;
  color: #24c36c;
}
.card-2-price:hover {
  color: #fff;
  background-color: #24c36c;
}

.butttns {
  align-self: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#2ed3a1, #1cc168);
  opacity: 0.9;
  z-index: -1;
}

.overlay-inner {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  top: 50%;
  transform: translateY(-50%);
}

.overlay-active {
  display: block;
}

.btn-hover {
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
}
.btn-hover:hover {
  cursor: pointer;
}

.card-body-2 {
  width: 100%;
  max-width: 150px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.card-text-2 {
  color: #fff;
  align-self: center;
}

.contact-img-section {
  display: flex;
  margin-top: 20px;
}
.contact-img-section h5 {
  color: #fff;
  align-self: center;
  margin-left: 10px;
}

.card-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#867cad, #e17a9f);
  opacity: 0.9;
}

.btn-load-more {
  font-size: 14px;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  align-self: center;
  padding: 13px 67.5px;
  margin: 20px 0px 60px 0px;
  border-radius: 45px;
  display: inline-block;
  max-width: 270px;
}
.btn-load-more:hover {
  color: #262a32;
  cursor: pointer;
  background-color: #fff;
}

.reload-icon {
  margin-left: 25px;
}

.footer-container {
  width: 100%;
  max-width: 1170px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.footer-container li {
  margin: 10px 0;
}
@media (min-width: 1px) and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: space-around;
    gap: 0px;
    margin-top: 40px;
  }
  .footer-container ul {
    display: none;
  }
  .footer-container > div:not(:last-child) {
    margin-left: 25px !important;
  }
  .footer-container .copyright-container,
.footer-container .about-footer-container,
.footer-container .categories-footer-container {
    max-width: 90%;
  }
  .footer-container .social-icons {
    align-self: center;
    margin: 50px 0;
  }
  .footer-container .title-wrapper {
    display: flex;
    max-height: 100%;
  }
  .footer-container .title {
    width: 90%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-container .title:hover {
    border-bottom: solid 3px #84bc22;
  }
  .footer-container .arr {
    display: inline;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .footer-container {
    max-width: 90%;
  }
  .footer-container .copyright-container {
    max-width: 145px;
    margin-right: 10px;
  }
  .footer-container .categories-footer-container {
    max-width: 400px;
  }
  .footer-container .about-footer-container {
    margin-left: 10px !important;
  }
  .footer-container .social-icons {
    display: flex;
    flex-direction: column;
  }
  .footer-container .social-icons img {
    margin: 20px;
  }
  .footer-container li {
    font-size: 12px;
  }
}

.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #45413e;
  font-size: 13px;
  line-height: 1.4em;
}

.addres-outer {
  width: 100%;
}
.addres-outer h2 {
  color: #333333;
  font-size: 16px;
}

.copyright-text {
  width: 100%;
  max-width: 120px;
}

.hq-addres {
  width: 100%;
  max-width: 200px;
}

.email {
  margin: 25px 0;
  transition: color 0.2s ease-in-out;
}
.email:hover {
  color: #84bc22;
}

.number {
  transition: color 0.2s ease-in-out;
}
.number:hover {
  color: #84bc22;
}

.categories-footer-container {
  width: 100%;
  max-width: 500px;
}
.categories-footer-container h2 {
  color: #333333;
}

.product-cpl-3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.4em;
  color: rgba(69, 65, 62, 0.7);
  transition: color 0.2s ease-in-out;
}
.product-cpl-3:hover {
  color: #84bc22;
}

.about-footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.arr {
  display: none;
}

.social-icons {
  display: flex;
  flex-direction: row;
}
.social-icons img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px 10px;
  transform: scale(1.4);
  filter: invert(15%) sepia(42%) saturate(0%) hue-rotate(199deg) brightness(102%) contrast(91%);
  opacity: 0.5;
  transition: color 0.2s ease-in-out;
}
.social-icons img:hover {
  filter: invert(71%) sepia(28%) saturate(964%) hue-rotate(39deg) brightness(86%) contrast(104%);
}

.active-ul ul {
  display: block;
}

@media (min-width: 769px) and (max-width: 1280px) {
  .container {
    max-width: 95%;
  }
}

.container-hero {
  height: 561px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1px) and (max-width: 768px) {
  .container-hero {
    padding-top: 50px;
    max-height: 515px;
  }
  .container-hero .sales-hero {
    display: none;
  }
  .container-hero h1 {
    font-size: 27px;
    width: 100%;
  }
  .container-hero .img-slider {
    display: none;
  }
  .container-hero .slide-content {
    max-width: 100%;
    align-self: center;
    max-height: 474px;
    padding: auto 0;
  }
  .container-hero .img-slider-small {
    display: block;
    width: 100%;
    height: 100%;
  }
  .container-hero .slider-inner {
    overflow: hidden;
    height: 474px;
    width: 292px;
    align-self: center;
    margin: 0 auto;
  }
  .container-hero .inner-hero {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .container-hero {
    gap: 20px;
  }
  .container-hero .sales-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-hero .facebook-follow {
    gap: 2rem;
  }
}

.img-slider-small {
  display: none;
}

.inner-hero {
  height: 100%;
  max-height: 505px;
  width: 870px;
}

.slider-inner {
  width: 100%;
  height: 100%;
  max-height: 570px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slide-content {
  position: absolute;
  height: 505px;
  transition: transform 0.4s ease-in-out;
}

.slider-title-1,
.slider-text-1,
.slider-btn {
  position: relative;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}

.slider-text-container-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.slider-text-container-1 > a {
  max-width: 160px;
}

.slider-text-container-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  align-items: center;
}
.slider-text-container-2 > a {
  max-width: 160px;
}

.slider-text-container-3 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: right;
  align-items: flex-end;
}
.slider-text-container-3 > a {
  max-width: 160px;
}

.slider-title {
  width: 100%;
  max-width: 580px;
  font-size: 48px;
  font-weight: 900;
  color: #fff;
}

.slider-text {
  line-height: 1.2em;
  font-size: 14px;
  font-weight: 200;
  max-width: 350px;
  color: #fff;
}

.slider-btn {
  color: #fff;
  border: solid 2px #fff;
  border-radius: 45px;
  padding: 13px 35px;
  width: 160px;
  cursor: pointer;
  background-color: transparent;
}
.slider-btn:hover {
  background-color: #fff;
  color: #262a32;
}

.img-slider {
  position: relative;
  height: 505px;
  width: 870px;
  border-radius: 7px;
}

.dot {
  margin: 0px 10px;
  cursor: pointer;
}

.image-sales {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sales-hero {
  width: 270px;
  margin: auto 0px;
  height: 505px;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.sale-title {
  font-size: 100px;
  font-weight: 900;
  top: 0;
  color: #fff;
  text-align: center;
  align-self: center;
}

.sale-text {
  font-size: 24px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  text-align: center;
  width: 50%;
}

.facebook-follow {
  height: 171px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.facebook-title {
  font-size: 18pt;
  text-align: center;
}

.facebook-text {
  width: 200px;
  font-size: 13px;
  text-align: center;
}

.fb-logo {
  font-size: 29.39px;
  color: #3a5b96;
  font-weight: 600;
  margin-right: 20px;
  padding: 0;
}

.follow-btn {
  display: flex;
  align-items: center;
  border: solid 2px #3a5b96;
  border-radius: 45px;
  padding: 2px 50px !important;
  cursor: pointer;
  background-color: transparent;
}
.follow-btn a {
  color: #fff;
}
.follow-btn:hover {
  background-color: #3a5b96;
}
.follow-btn:hover .fb-logo {
  color: #fff;
}
.follow-btn:hover .follow-text {
  color: #fff;
}

.follow-text {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  margin: auto 0;
}

.dots__dot--active {
  background-color: transparent;
  opacity: 1;
  border: solid 3px #fff;
  height: 1rem;
  width: 1rem;
}

.overlay-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1;
  transition: all 0.5s;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 465px;
  display: flex;
  align-items: center;
  /*   background-color:gray; */
  border-radius: 7px;
  background-color: #fff;
  z-index: 105;
}

.modal__inner {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: transparent;
  border: none;
  gap: 1rem;
  margin: auto 2rem;
}

.modal__part {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  position: relative;
}

.modal__part--text {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 23px;
}

input {
  border: solid 2px #45413e;
  border-radius: 25px;
  line-height: 20px;
  text-align: center;
  padding: 0.7em 0;
  font-size: 16px;
}

label {
  margin-bottom: 0.7em;
}

.togglePassword {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 20px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot-password {
  float: right;
  color: #84bc22;
  cursor: pointer;
}

.btn-login {
  padding: 0.7em 5rem;
  border-radius: 20px;
  background-color: #84bc22;
  font-size: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.btn-login:hover {
  color: #84bc22;
  background-color: #45413e;
}

.btn-noaccount {
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: #84bc22;
  cursor: pointer;
}
.btn-noaccount:hover {
  color: #45413e;
}

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid rgb(245, 68, 68);
}

input:invalid + span::before {
  content: "aaaaaaaaaaa";
  color: rgb(245, 68, 68);
}

input:valid + span::before {
  content: "aaaaaaaaa";
  color: #84bc22;
}

/* Password validation */
/*  */
/*  */
#message {
  display: none;
  background: #fff;
  color: #45413e;
  position: absolute;
  left: 105%;
  bottom: 0;
  width: 400px;
  text-align: left;
  border-radius: 7px;
}
#message > h3 {
  letter-spacing: 2px;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
#message > p {
  padding: 1em;
  font-size: 16px;
  margin: 0;
}

.valid {
  color: #84bc22;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "";
}

.invalid {
  color: rgb(245, 68, 68);
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "";
}

.cpl__container {
  width: 100%;
  height: 100%;
  background-color: #f2edea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cpl__title {
  width: 210px;
  margin-top: 55px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  vertical-align: baseline;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.home-btn {
  border: none;
  background-color: transparent;
  color: #84bc22;
  margin: 0;
  padding: 0;
}
.home-btn:hover {
  cursor: pointer;
}

.page-title {
  font-size: 48px;
  font-weight: 800;
}

.cpl__filter {
  background-color: #fff;
  width: 1170px;
  height: 165px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.filter__part {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 30px;
}

.filter__selectmenu {
  width: 200px;
  padding: 0.5em;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 20px;
  border: solid 2px rgba(69, 65, 62, 0.5);
  border-radius: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../../build/images/cpl/arr-down.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.filter__part--center,
.filter__part--right {
  align-items: flex-end;
  margin-right: 30px;
  padding: 0;
}

select:focus {
  outline: none; /* Removing default browsers outline on focus */
}

.cpl-color {
  display: flex;
  align-items: center;
}

.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 20px;
  width: 200px;
}

.cpl-white {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.active-color {
  border: solid 3px #000;
}

.cpl-teal {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-color: #43c0cf;
}

.cpl-black {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-color: #3d402f;
}

.cpl-green {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-color: #4aaf00;
}

.cpl-blue {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-color: #315bbd;
}

.cpl-orange {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-color: #ec6115;
}

.cpl-red {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-color: #dc041d;
}

.cpl-special {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-color: #efead7;
}

.btn {
  border: none;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */