// Text colors
$blue-light: #011847;
$blue: #262a32;
$green: #84bc22;
$gray: #45413e;
$white: #fff;
$sale-text-color: #24c36c;
$gradient: linear-gradient(#2ed3a1, #1cc168);
$gradient-2: linear-gradient(#867cad, #e17a9f);

// // //
// Media query bp
// // //

$bp-s: 1px;
$bp-m: 768px;
$bp-l: 1280px;

$border-side: solid 2px
  rgba(
    $color: #7f7f7f,
    $alpha: 0.3,
  );
