.banner-container {
  width: 100%;
  height: 100%;
  max-height: 445px;
  background-color: $main;
  color: $main;
  // display: none;
}

.banner {
  min-height: 455px;
  max-width: 1280px;
  display: flex;
  position: relative;
  margin: 0 auto;

  @include mq(small) {
    width: 100%;
    min-height: 185px;
    max-height: none;

    .banner-text {
      width: 90%;
      align-self: center;
      margin: 0 auto;

      > img {
        width: 100%;
        height: 100%;
        src: url(../../build/images/banner/banner-small.png);
      }
      > h1 {
        font-size: 30px;
      }
    }
  }
}

.banner-text {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: $white;
  height: fit-content;
  width: 100%;
  align-self: center;
  h1 {
    font-size: 49px;
    font-weight: 800;
    align-self: center;
  }
  p {
    align-self: center;
    max-width: 370px;
    font-size: 14px;
  }
}

.banner {
  > img {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
