.dropdown-content {
  width: 100%;
  max-width: 100%;
  height: 385px;
  background-color: $blue;
  color: $white;
  //hide dropdown
  display: none;
  position: absolute;
  top: 78px;
  left: 0;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  @include mq(small) {
  }
}

.container-dropdown {
  height: 100%;
  max-height: 385px;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.product-categories-container {
  width: 45%;
}

.products {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-products-title {
  justify-self: center;
  font-weight: 800;
}

.products-categories-inner {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.dropdown-title {
  font-weight: 900;
}

.product-cpl {
  line-height: 1.9em;
  color: $white;
  font-size: 16px;
  transition: color 0.2 ease-in-out;
  &:hover {
    color: $green;
  }
}

.sales {
  @extend .products;
  max-width: 25%;
}

.sales-list-inner {
  padding-top: 20px;
}

.photo-dropdown {
  width: 100%;
  max-width: 272px;
  height: 100%;
  max-height: 276px;
  align-self: center;
}

.dropdown-photo {
  display: flex;
  justify-content: center;
}
