.dropdown-content {
  width: 100%;
  // margin: 0 auto;
  height: 385px;
  background-color: $blue;
  color: $white;
  display: none;
  position: absolute;
  top: 78px;
  left: 0px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: default;
  .arrow-down {
    display: none;
  }
  @include mq(small) {
    box-shadow: none;
    top: 0;
    left: 0;
    display: block;
    position: relative;
    height: fit-content !important;
    width: 70%;
    display: none;
    .dropdown {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      height: fit-content;
    }

    .container-dropdown {
      display: block;
      position: relative;
      height: fit-content !important;
      margin: 0;
      gap: 1rem;
      width: 90%;
    }
    .product-categories-container {
      width: 100%;
    }
    .sales {
      max-width: none;
      width: 100%;
    }
    h2 {
      width: 100%;
      padding: 1em;
      border-bottom: solid 3px $green;
      cursor: pointer;
    }
    .arrow-down {
      display: block;
    }
    .dropdown-photo {
      display: none;
    }
    .dropdown-products-title {
      width: 100%;
    }
    ul {
      display: none;
      margin-left: 20px;
    }
  }
}

.container-dropdown {
  height: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: 55px auto;
  align-items: center;
}

.product-categories-container {
  width: 45%;
}

.products {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-products-title {
  justify-self: center;
  font-weight: 800;
}

.products-categories-inner {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.dropdown-title {
  font-weight: 900;
}

.product-cpl {
  line-height: 1.9em;
  color: $white;
  font-size: 16px;
  transition: color 0.2 ease-in-out;
  &:hover {
    color: $green;
  }
}

.sales {
  @extend .products;
  max-width: 25%;
}

.sales-list-inner {
  padding-top: 20px;
}

.photo-dropdown {
  width: 100%;
  max-width: 272px;
  height: 100%;
  max-height: 276px;
  align-self: center;
}

.dropdown-photo {
  display: flex;
  justify-content: center;
}
