.overlay-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 9999;
  transition: all 0.5s;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 465px;
  display: flex;
  align-items: center;
  /*   background-color:gray; */
  border-radius: 7px;
  background-color: $white;
  z-index: 99999;
  @include mq(small) {
    width: 100%;
    height: 70%;
  }
}

.modal__inner {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: transparent;
  border: none;
  gap: 1rem;
  margin: auto 2rem;
}

.modal__part {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  position: relative;
}

.modal__part--text {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 23px;
}

// #password {
//   /*   width:100%; */
// }

input {
  border: solid 2px $gray;
  border-radius: 25px;
  line-height: 20px;
  text-align: center;
  padding: 0.7em 0;
  font-size: 16px;
}

label {
  margin-bottom: 0.7em;
}

.togglePassword {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 20px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot-password {
  float: right;
  color: $green;
  cursor: pointer;
}

.btn-login {
  padding: 0.7em 5rem;
  border-radius: 20px;
  background-color: $green;
  font-size: 16px;
  border: none;
  color: $white;
  cursor: pointer;
  &:hover {
    color: $green;
    background-color: $gray;
  }
}

.btn-noaccount {
  font-size: 12px;
  background-color: transparent;
  border: none;
  color: $green;
  cursor: pointer;
  &:hover {
    color: $gray;
  }
}

// input + span {
//   position: relative;
// }

// input + span::before {
//   position: absolute;
//   right: -20px;
//   top: 5px;
// }

// input:invalid {
//   border: 2px solid rgb(245, 68, 68);
// }
// .submit:invalid {
//   color: 2px solid rgb(245, 68, 68);
// }

// .submit,
// input:invalid {
//   content: "";
//   color: rgb(245, 68, 68);
// }

// .submit,
// input:valid {
//   content: "";
//   border: 2px solid $green;
// }

/* Password validation */
/*  */
/*  */
#message {
  display: none;
  background-color: $white;
  color: $gray;
  position: absolute;
  left: 105%;
  bottom: 0;
  width: 400px;
  text-align: left;
  border-radius: 7px;
  > h3 {
    letter-spacing: 2px;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }
  > p {
    padding: 1em;
    font-size: 16px;
    margin: 0;
  }
  @include mq(small) {
    width: 100%;
    left: 0;
    top: 100%;
    position: fixed;
    height: 100px;
    background-color: $white;
    > p {
      padding: 0;
    }
    > h3 {
      margin: 0;
    }
  }
}

.valid {
  color: $green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "";
}

.invalid {
  color: rgb(245, 68, 68);
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "";
}

input:focus-visible {
  outline: none;
}

.cookie-wrap {
  width: 90%;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  padding: 30px 25px 20px 25px;
  justify-content: space-between;
  display: none;
  z-index: 9999999;
  border-radius: 7px;
}

.cookie__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 78%;
  color: $gray;
}

.cookie__part--title {
  font-size: 24px;
  color: $green;
  font-weight: 800;
}

.cookie__part--text {
  > p {
    line-height: 1.4em;
  }
}

.policy {
  color: $green;
  &:hover {
    cursor: pointer;
  }
}

.close-cookie {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: transparent;
  border: none;
}

.accept-cookie {
  @extend .cpl__loadmore;
  align-self: flex-end;
  margin-bottom: 0 !important;
  padding: 13px 40px !important;
  width: 150px;
  height: 36px;
  line-height: 1em;
}

.fa-xmark {
  &:hover {
    cursor: pointer;
  }
}
