body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 5000;
  background-color: $white;
  @include mq(small) {
    .menu {
      position: fixed;
      display: block;
    }
    .inner-nav-container {
      // display: none;
      // max-width: none;
      width: 100%;
      padding-top: 5px;
      height: 50px;
      margin-top: 0;
      position: fixed;
      z-index: 100;
      background-color: $white;
    }
    .logo-osf {
      margin: 0 auto;
    }
    .logo-name {
      display: none;
    }
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  max-height: 5000px;
}

.inner-nav-container {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  max-height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.logo-osf {
  margin-right: 10px;
  display: flex;
  @include mq(medium) {
    width: 100px;
    align-items: center;
    > img {
      width: 40px;
      height: 40px;
    }
  }
}

.logo-name {
  text-align: center;
  margin: auto;
  margin-left: 10px;
  &-1 {
    color: $main;
    font-size: 31.65px;
    font-weight: 900;
    @include mq(medium) {
      font-size: 24px;
    }
  }
  &-2 {
    color: $green;
    font-size: 18px;
    @include mq(medium) {
      font-size: 18px;
    }
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 1170px;
  overflow: visible;
  @include mq(small) {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: $main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow: scroll;
    height: 500px !important;
    display: none;
    .nav-link {
      display: flex;
      flex-direction: column;
      height: fit-content;
    }

    //
    .nav-mobile-photo {
      display: flex;
      height: 250px;
      > img {
        margin: 0px auto;
      }
    }
  }
  @include mq(medium) {
    width: 100%;
    justify-content: flex-end;
    .nav-inner {
      display: flex;
      align-items: flex-end;
      gap: 0px;
    }
    .nav-link {
      width: fit-content;
      margin: 0;
      padding: 0 10px;
    }

    .btn-nav {
      display: none;
    }
    // z-index: -10;
    // display: none;
  }
}

.nav-inner {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  height: 57px;

  @include mq(small) {
    // width: 90%;
    margin-top: 25px;
    width: 100%;
    height: fit-content;
    position: relative;
    justify-content: flex-start;
    background-color: $main;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    z-index: 9999999;
    // height: 300px;
    // overflow: scroll;
    .nav-link {
      align-self: flex-start;
      text-align: left;
      //
      display: block;
      //
      height: fit-content !important;
      margin-left: 16px;
      width: 90%;
      padding: 12px 0;
      color: $white;
      font-weight: 800;
      font-size: 14px;
      &:first-child {
        padding: 0;
        &:hover {
          border: none;
        }
      }
      h1 {
        width: 100%;

        padding: 12px 0;
      }
    }
    .arrow-down {
      float: right;
    }
    // .btn-nav {
    //   display: none;
    // }
    .language-btn,
    .currency-btn {
      display: none;
      position: relative;
    }
    ul {
      display: none;
    }

    h2 {
      display: block;
      z-index: 99999999;
    }
  }
}

.nav-btn-container {
  display: flex;

  @include mq(small) {
    display: flex !important;
    justify-content: center;
    gap: 33px;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 55px;
    bottom: 0%;
    left: 0;
    background-color: $main;
    margin: 0%;
    .btn-nav {
      background-color: transparent;
      width: 35px;
    }
    .btn {
      margin: 0;
      > img {
        filter: brightness(4);
      }
    }
    .products-counter,
    .favorite-counter {
      background-color: $main;
      width: 19px;
      height: 19px;
    }

    .counter-position {
      background-color: $main;
      font-size: 12px;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @include mq(medium) {
    display: flex !important;
    justify-content: space-around;

    align-items: center;
    position: fixed;
    width: 100%;
    height: 55px;
    bottom: 0%;
    left: 0;
    background-color: $main;
    margin: 0%;
    .btn-nav {
      background-color: transparent;
      width: 35px;
    }
    .btn {
      margin: 0;
      > img {
        filter: brightness(4);
      }
    }
    .products-counter,
    .favorite-counter {
      background-color: $main;
      width: 19px;
      height: 19px;
    }

    .counter-position {
      background-color: $main;
      font-size: 12px;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @include mq(large) {
    height: 60px;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    .btn-nav {
      margin: 0;
    }
    .counter-position {
      position: relative;
    }
  }
}

.products-categories-inner {
  height: fit-content;
  overflow: visible;

  @include mq(small) {
    overflow: scroll;
    height: 300px;
  }
}

.nav-mobile-photo {
  display: none;
}

.nav-link {
  // padding: 30px 10px;
  height: 100%;
  color: $gray;
  transition: all 0.1s linear;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 10px;
  // position: relative;
  &:hover {
    background-color: $main;
    color: $white;
    cursor: pointer;
    border-bottom: solid 3px $green;
  }
  // h1 {
  //   font-weight: 400;
  //   font-size: 16px;
  // }
}

.noborder {
  border: none;
  &:hover {
    border: none;
  }
}

.arrow-down {
  padding-left: 10px;
}

.btn-nav {
  margin: 0px 15px;

  &:last-child {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 15px;
    padding-left: 0px;
  }
  &:hover {
    cursor: pointer;
  }
}

.counter {
  display: flex;
  margin: auto 0px;
  position: relative;
}

.products-counter,
.favorite-counter {
  border: solid 2px $green;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -10px;
  background-color: $white;
}

.counter-position {
  margin: auto;
  color: $green;
}

.icn-nav {
  transition: all 0.2s ease-in-out;
  &:hover {
    filter: brightness(0) saturate(100%);
    filter: invert(58%) sepia(97%) saturate(354%) hue-rotate(40deg)
      brightness(94%) contrast(92%);
  }
}

.nav-contact {
  margin-right: 20px;
}

.nav-line {
  width: 2px;
  color: #f3f0ea;
  margin: 0px;
  padding: 0px;
}

// // //
// Burger Menu
// // //
.mobile-menu {
  @include btn(0px, 100px);

  .icon-left {
    @include icon(8px, 30px);
    left: 0px;

    &:before {
      @include icon-before(8px, 30px, -20px);
    }

    &:after {
      @include icon-after(8px, 30px, 20px);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .icon-right {
    @include icon(8px, 30px);
    left: 30px;

    &:before {
      @include icon-before(8px, 30px, -20px);
    }

    &:after {
      @include icon-after(8px, 30px, 20px);
    }
  }

  &.open {
    .icon-left {
      transition-duration: 0.5s;
      background: transparent;

      &:before {
        transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
      }

      &:after {
        transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
      }
    }

    .icon-right {
      transition-duration: 0.5s;
      background: transparent;

      &:before {
        transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
      }

      &:after {
        transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.menu {
  display: none;
  z-index: 100;
  transform: scale(0.5);
  position: absolute;
  top: -5px;
}

.active {
  display: block;
  height: fit-content;
}

.dropdown {
  font-size: 14px;
  font-weight: 800;
}

/// // /// // /
/// Language dropdown
///
///
.currency-btn,
.language-btn {
  position: relative;
}
.currency-dropdown,
.select-language-dropdown {
  position: absolute;
  display: none;
  top: 60px;
  width: 100%;
  left: 0;
  height: 6rem;
  z-index: 2;
  cursor: default;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.currency-dropdown-inner,
.select-language-dropdown-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $main;
  align-items: center;
  color: $white;
}

.select-currency-1,
.select-language-1 {
  padding: 0.1rem;
  &:hover {
    color: $green;
    cursor: pointer;
  }
}

.active-drop {
  display: block;
}
/////
///
///
