.popular-items-container {
  width: 100%;
  background-color: $main;
  padding-top: 50px;
  position: relative;
  // display: none;
  @include mq(small) {
    .container-2 {
      width: 90%;
      min-height: 510px;
    }
    .card-container {
      position: relative;
      height: 365px;
      width: 270px;
      align-self: center;
      overflow: hidden;
    }
    .card-last {
      display: none;
    }
    .card {
      position: absolute;
      transition: all 0.2s ease-in-out;
    }

    .btn-load-more {
      display: none;
    }
  }
  @include mq(medium) {
    .card-container {
      width: 90%;
      justify-content: space-evenly;
    }
  }
}

.container-2 {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  max-height: 5000px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.popular-items-container-inner {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.popular-items-title {
  font-size: 24px;
  font-weight: 800;
  min-width: 160px;
  color: $white;
  text-align: center;
}

.line {
  width: 100%;
  max-width: 460px;
  height: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.card-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  height: 365px;
  width: 100%;
  max-width: 270px;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  &:hover {
    .card-overlay {
      z-index: 2;
    }
  }
  &-last {
    @extend .card;
  }
}

.card-img-top {
  max-width: 270px;
  height: 265px;
}

.card-body {
  background-color: $white;
  width: 100%;
  max-width: 270px;
  height: 100%;
  max-height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.card-text {
  text-align: center;
  font-size: 16px;
  color: $gray;
}

.card-title {
  text-align: center;
  font-size: 14px;
  color: $main;
}

.butttns {
  max-height: 265px;
}

.buy-now-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 40px;
  border: $border-side;
  border-radius: 35px;
  // padding: 4px 35px;
  width: 75%;
  overflow: hidden;
}
.line-between {
  background-color: rgba($color: #7f7f7f, $alpha: 0.3);
  height: 120%;
  width: 2px;
  align-self: center;
}

.btn-add-to-card {
  border: none;
  cursor: pointer;
  padding: 14px 15px;
  padding-right: 15px;
  &:hover {
    color: $green;
  }
}

.card-2-price {
  font-size: 14px;
  align-self: center;
  padding: 12px 15px;
  padding-left: 41px;
  color: #24c36c;
  &:hover {
    color: $white;
    background-color: #24c36c;
  }
}

.butttns {
  align-self: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $gradient;
  opacity: 1;
  z-index: -1;
  // display: none;
}

.overlay-inner {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.overlay-active {
  display: block;
}

.btn-hover {
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  &:hover {
    cursor: pointer;
  }
  > img {
    opacity: 1;
  }
}

// .card-img-top-2{

// }

.card-body-2 {
  width: 100%;
  max-width: 150px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.card-text-2 {
  color: $white;
  align-self: center;
}

.contact-img-section {
  display: flex;
  margin-top: 20px;
  h5 {
    color: $white;
    align-self: center;
    margin-left: 10px;
  }
}

.card-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $gradient-2;
  opacity: 0.9;
}

.btn-load-more {
  font-size: 14px;
  background-color: transparent;
  border: solid 2px $white;
  color: $white;
  align-self: center;
  padding: 13px 67.5px;
  margin: 20px 0px 60px 0px;
  border-radius: 45px;
  display: inline-block;
  max-width: 270px;
  &:hover {
    color: $main;
    cursor: pointer;
    background-color: $white;
  }
}

.reload-icon {
  margin-left: 25px;
}
