.release__modal {
  width: 80%;
  height: 80%;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: solid 4px hsla(0, 0%, 50%, 0.3);
  z-index: 9999999;
  background-color: $white;
  color: $gray;

}

.release__modal--part {
  margin: 0;
  > h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  > p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2em;
  }
}

.timer {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 10px 5px;
  @include mq(medium) {
    width: 100%;
    gap: 1em;
  }
  @include mq(small) {
    width: 100%;
    gap: 1em;
    flex-wrap: wrap;
  }
}

.timer__item {
  border: solid 3px $green;
  border-radius: 50%;
  mask-border: 5;
  padding: 12px;
  font-size: 48px;
  font-weight: 800;
  width: 110px;
  height: 110px;
  line-height: 110px;
  @include mq(medium) {
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    line-height: 3em;
  }
  @include mq(small) {
    font-size: 0.7em;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

.months {
  font-size: 18px;
}

.release__opener {
  position: absolute;
}

.fa-clock {
  color: $green;
}

.clock__wrap {
  position: fixed;
  left: 0;
  top: 30%;
  background-color: $main;
  height: 6em;
  width: 3em;
  border-radius: 0 25px 25px 0;
  border: solid 3px $green;
  border-left: none;
  display: flex;
  align-items: center;
  &:hover {
    background-color: $green;
    cursor: pointer;
    .fa-clock {
      color: $main;
    }
  }
  @include mq(small) {
    height: 3em;
    width: 2em;
    line-height: 1em;
    .fa-clock {
      font-size: 0.6em;
    }
  }
}

.email__input--timer {
  width: 60%;
  display: flex;
  position: relative;
  > button {
    // margin-right: 50px;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
    border: 2px solid $green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }
  @include mq(small) {
    width: 100%;
    place-content: "Enter your email";
  }
}

#input__timer {
  width: 30%;
  flex-grow: 2;
}

.time__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
